<menu id="MainMenu" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">
    <menu-item id="temp_overrides" label="@Strings.temp_overrides_label" />
    <menu-item id="otp_verification" label="@Strings.otp_verification_label" />
</menu>
