<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">
    <setting propertyKey="@Properties.nightscout_token" title="@Strings.nightscout_token_title">
        <settingConfig type="alphaNumeric" required="true" />
    </setting>
    <setting propertyKey="@Properties.nightscout_url" title="@Strings.nightscout_url_title">
        <settingConfig type="alphaNumeric" required="true" />
    </setting>
    <setting propertyKey="@Properties.otp_secret" title="@Strings.otp_secret_title">
        <settingConfig type="alphaNumeric" required="true" />
    </setting>
     <setting propertyKey="@Properties.default_user" title="@Strings.default_user_title">
        <settingConfig type="alphaNumeric" required="false" />
    </setting>
     <setting propertyKey="@Properties.default_unit" title="@Strings.default_unit_title">
        <settingConfig type="alphaNumeric" required="false" />
    </setting>
</settings>